<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArtStoreShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="p-2 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    
                    <li><a class="nav-link text-white"  asp-area="" asp-controller="Home" asp-action="Index">Магазин</a></li>
                    <li><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Info">Информация</a></li>
                    <li><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="About">О нас</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Поиск товаров..." aria-label="Search">
                </form>

                <div class="text-end">
                    <button type="button" class="btn btn-secondary btn-sm"> <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login">Вход</a></button>
                    <button type="button" class="btn btn-secondary btn-sm "> <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a></button>
                    <button type="button" class="btn btn-secondary btn-sm "> <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="PersonalAccount">Личный кабинет</a></button>
                    <button type="button" class="btn btn-secondary btn-sm position-relative "> <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Cart">Корзина<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        99+ @*TODO:реализовать счетчик товаров в корзине*@  </span></a></button>
                    
                </div>
            </div>
        </div>
    </header>
    
    @RenderBody()



    <div class="footer" style="text-align: center;">
        <div class="container">
            &copy; 2021 - ArtStoreShop - <a href="https://vk.com/art.store" class="pr-4"> <img src="/img/vk.png" width="20" height="20" /></a>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
