@model string

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post" style="margin-left: 3%">
    <div class="form-group" >
        <label for="Name">Новая роль</label>
        <input style="width: 20%" name="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>